<!DOCTYPE html>
<head xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Employee System</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <a href="/index"><h3 class="text-muted">Employee System</h3></a>
      </div>

        <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    <a class="btn btn-primary"  href="/add-emp">Add Employee</a>
                </div>
            </div>

            <div class="card-body">
                <table class="table" >
                    <thead class="thead-dark" >
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email</th>
                        <th scope="col">Number</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="emData, num : ${empsData}" th:if="${!empsData.empty}">
                        <td th:text="${num.index + 1}">1</td>
                        <td th:text="${emData.firstName}"></td>
                        <td th:text="${emData.lastName}"></td>
                        <td th:text="${emData.email}"></td>
                        <td th:text="${emData.phone}"></td>
                        <td th:text="${emData.role}"></td>
                        <td><a th:href="@{/edit/{id}(id=${emData.id})}" class="btn btn-warning">Edit</a></td>
                        <td><form th:action="@{/delete/{id}(id=${emData.id})}" method="GET"  onsubmit='return confirm("Are you sure you want to delete?");'>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form></td>
                    </tr>
                    <tr th:unless="${!empsData.empty}">
                        <td>No Employess</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>



    </div> <!-- /container -->




</body>
<script src="/bootstrap/js/jquery.min.js" ></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</html>